html,
body {
	height: 100%;
	font-family: sans-serif;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

#__next {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
	padding: 10px;
}

.footer {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #1976d2;
	color: white;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer span {
	padding: 0 10px;
	color: #000;
}
