html,
body {
	height: 100%;
	font-family: sans-serif;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: "Lobster", cursive;
}

#__next {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
	padding: 10px;
	background-image: url("/papers.jpg") no-repeat center center fixed;
}

.footer {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #1976d2;
	color: white;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer span {
	padding: 0 10px;
	color: #000;
}

.css-i4bv87-MuiSvgIcon-root {
	color: #b3f4a2;
}
